@model IEnumerable<TaskManager.Models.RealLifeTask>

@{
    ViewData["Title"] = "Index";
}

<h1>Your tasks:</h1>

<p>
    If you do not see any of your task, just <a asp-action="Create">create new</a>.
</p>
<p>
    <b>Warnings!</b>:
    <ul>
        <li>Once completed task can not be changed to uncomplete.</li>
    </ul>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Completed
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                @if (!item.IsCompleted)
{
                    <a asp-action="Complete" asp-route-id="@item.Id">Complete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
